body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 18px;
  margin: 20px auto;
  padding: 10px;
  background: url(https://spades3bucket.s3.amazonaws.com/1697540494792_Frame-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main-div-class {
  background-color: #fff;
  padding: 65px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
ol {
  margin-left: -25px;
}
