/* 1) Mobile Phones (Portrait): */
/* Screen width: up to 480px */
/* Common media query: */

@media screen and (max-width: 480px) {
  /* Styles for mobile phones in portrait mode */

  /* //////////////// index overview page start /////////////// */
  .bg-img-mainn {
    width: 490px;
  }
  .responsive-img-scroll {
    overflow-x: scroll;
  }
  .responsive-reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .responsive-finish-column {
    margin-top: 17px;
  }

  .nav-index-responsive {
    width: max-content;
  }

  .tab-menu-heading{
    display: flex !important;
    flex-direction: column;
  }

  #search_input{
    width: 150px;
}

.d-lg-block {
  display: block !important;
}

#nav_links{
  width: 385px;
}

.mobile-scroll-tabs{
  overflow-x: scroll;
}

#viewUnitspill{
  width: 100%;
  margin-bottom: 10px;
}

#viewTenantspill{
  width: 100%;
  margin-bottom: 10px;
}

#viewTaskspill{
  width: 100%;
  margin-bottom: 10px;
}

#edit-option-view{
  width: 100%;
  margin-bottom: 10px;
}

.column-flex-direction {
  display: block;
  align-items: baseline;
}

#add-units {
  width: 100%;
}

.media {
  display: flex;
  align-items: center;
  text-align: left;
}

.mobile-nav1{
  width: 280px;
  overflow-x: scroll;
}

.export-button-hide{
  margin-top: 20px;
}

.prospect-block{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.add-unit-button-flex{
  display: block;
  justify-content: space-between;
}

.fixed-button {
  position: fixed;
  bottom: 80px;
  right: 21px;
  z-index: 99;
}

.laptop-button{
  display: none;
}

.mobile-button{
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input-field{
  width: 140px !important;
}

.sidebar-mini .side-menu {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.profile-responsive-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line-responsive-center{
  display: flex;
  justify-content: center;
}

.h2-personal-inf{
  text-align: center;
}

/* .card-header{
  overflow-x: scroll;
} */

.border-left {
  border-left: 0px solid black !important;
  margin-top: 18px;
}

.mobile-text-start{
  text-align: center !important;
}

.close-account-mobile-resp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.close-account-btn-mobile-resp {
  display: flex;
  justify-content: center;
}

.tenant-login-page-responsive {
  width: 100%;
  height: 100%;
  display: none;
}

.mobile-text-hide-filer-number {
  display: none;
}

.lock-icon-responsive{
  margin-right: 8px;
  height: 70px;
}

.csv_button {
  padding: 0rem 6px;
}

.pdf_button {
  padding: 0rem 6px;
}

.csv_button strong{
  display: none;
    }
    .csv_icon{
      display: inline;
    }
    .pdf_icon{
      display: inline;
    }
    .pdf_button strong{
  display: none;
    }

    .bank-account-header-responsives {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    .reports-card-hhader-responsive {
      display: flex;
      flex-wrap: wrap;
    }

    .report-sort-btn-responsive {
      margin-bottom: 12px;
    }

    .report-search-scroll-responsive {
      overflow-x: scroll;
    }

    .balnce-price {
      text-align: center;
    }
  /* //////////////// index overview page End //////////////// */
}
/* //////////////////////////////////////////////// */

/* 2) Mobile Phones (Landscape): */
/* Screen width: 481px to 767px (typical range) */
/* Common media query: */

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape mode */

  .report-search-scroll-responsive {
    overflow-x: scroll;
  }

  .report-sort-btn-responsive {
    margin-bottom: 12px;
  }

  .reports-card-hhader-responsive {
    display: flex;
    flex-wrap: wrap;
  }

  #viewUnitspill{
    width: 50%;
    margin-bottom: 10px;
  }

  #viewTenantspill{
    width: 50%;
    margin-bottom: 10px;
  }
  
  #viewTaskspill{
    width: 50%;
    margin-bottom: 10px;
  }
  
  #edit-option-view{
    width: 50%;
    margin-bottom: 10px;
  }
  .nav-index-responsive {
    width: max-content;
  }
  .csv_button {
    padding: 0rem 6px;
  }
  
  .pdf_button {
    padding: 0rem 6px;
  }

  .csv_icon{
    display: inline;
  }
  .csv_button strong{
display: none;
  }
  .pdf_icon{
    display: inline;
  }
  .pdf_button strong{
display: none;
  }
  .responsive-finish-column {
    margin-top: 17px;
  }
  .responsive-reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  #search_input{
    width: 150px;
}
.column-flex-direction {
  display: block;
  align-items: baseline;
}

#add-units {
  width: 100%;
}

#add-units {
  width: 100%;
}
.media {
  display: flex;
  align-items: center;
  text-align: justify;
}
.add-unit-button-flex{
  display: block;
  justify-content: space-between;
}

.fixed-button {
  position: fixed;
  bottom: 80px;
  right: 13px;
  z-index: 99;
}

.laptop-button{
  display: none;
}

.mobile-button{
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-field{
  width: 180px !important;
}

.sidebar-mini .side-menu {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.profile-responsive-div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line-responsive-center{
  display: flex;
  justify-content: center;
}

/* .card-header{
  overflow-x: scroll;
} */

.border-left {
  border-left: 0px solid black !important;
  margin-top: 18px;
}

.mobile-text-start{
  text-align: center !important;
}

.close-account-mobile-resp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.close-account-btn-mobile-resp {
  display: flex;
  justify-content: center;
}

.tenant-login-page-responsive {
  width: 100%;
  height: 100%;
  display: none;
}

.lock-icon-responsive{
  margin-right: 8px;
  height: 70px;
}

.bank-account-header-responsives {
  display: flex;
  align-items: flex-end;
}

.balnce-price {
  text-align: center;
}

}
/* //////////////////////////////////////////////// */

/* 3) Tablets (Portrait): */
/* Screen width: 768px to 1023px (typical range) */
/* Common media query: */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets in portrait mode */
  .csv_icon{
    display: none;
  }
  .pdf_icon{
    display: none;
  }
  .responsive-finish-column {
    margin-top: 17px;
  }
  .column-flex-direction {
    display: flex;
    align-items: baseline;
  }
  #add-units {
    width: 100%;
  }
  .add-unit-button-flex{
    display: flex;
    justify-content: space-between;
  }

  .mobile-button{
    display: none;
  }

  .laptop-button{
    display: block;
  }

.nav-width-prospect {
  width: 100% !important;
}

  .profile-responsive-div{
    display: flex;
    align-items: center;
    text-align: left;
  }

  .h2-personal-inf{
    text-align: left;
  }

  .p-personal-inf{
    text-align: left;
  }

  .h3-personal-inf{
    text-align: left;
  }
  .nav {
    width: 1450px;
}

.close-account-mobile-resp {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}
.close-account-btn-mobile-resp {
  display: flex;
  justify-content: end;
}

.tenant-login-page-responsive {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.lock-icon-responsive{
  margin-right: 10px;
  height: 90px;
}

.bank-account-header-responsives {
  display: flex;
  align-items: flex-end;
}

.paynow-mobile-responsive-tenant-close-account {
  display: flex;
  align-items: start;
}

.texthide-responsive {
  display: flex;
  align-items: start;
  text-align: start;
}

}
/* /////////////////////////////////////////////// */

/* 4) Tablets (Landscape): */
/* Screen width: 1024px to 1279px (typical range) */
/* Common media query: */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Styles for tablets in landscape mode */
  .csv_icon{
    display: none;
  }
  .pdf_icon{
    display: none;
  }
  .column-flex-direction {
    display: flex;
    align-items: baseline;
  }
  .add-unit-button-flex{
    display: flex;
    justify-content: space-between;
  }
  .mobile-button{
    display: none;
  }

  .laptop-button{
    display: block;
  }

  .profile-responsive-div{
    display: flex;
    align-items: center;
    text-align: left;
  }
  /* .close-account-mobile-resp {
    display: flex;
    align-items: center;
  } */
  .close-account-btn-mobile-resp {
    display: flex;
    justify-content: end;
  }

  .settings-icon {
    border: 0px solid transparent;
    border-radius: 50% !important;
    padding: 20px 15px !important;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.tenant-login-page-responsive {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.lock-icon-responsive{
  margin-right: 20px;
  height: 110px;
}

.bank-account-header-responsives {
  display: flex;
  align-items: flex-end;
}

}
/* /////////////////////////////////////////////// */

/* 5) iPad (Portrait and Landscape):
iPad screen sizes can fall into both the tablet and laptop categories.
You can target iPads with a combination of the above media queries or use more specific ones if needed.
6) Laptops and Desktops:
Screen width: 1280px and above (typical range for laptops and desktops)
Common media query: */

@media screen and (min-width: 1280px) and (max-width: 6279px) {
  /* Styles for laptops and desktops */
  .csv_icon{
    display: none;
  }
  .pdf_icon{
    display: none;
  }
  .column-flex-direction {
    display: flex;
    align-items: baseline;
  }
  .add-unit-button-flex{
    display: flex;
    justify-content: space-between;
  }
  .mobile-button{
    display: none;
  }

  .laptop-button{
    display: block;
  }

  .profile-responsive-div{
    display: flex;
    align-items: center;
    text-align: left;
  }

  /* .close-account-mobile-resp {
    display: flex;
    align-items: center;
  } */

  .close-account-btn-mobile-resp {
    display: flex;
    justify-content: end;
  }

  .settings-icon {
    border: 0px solid transparent;
    border-radius: 50%;
    padding: 20px 15px;
    font-size: 20px;
    width: 40px;
    height: 40px;
}

.tenant-login-page-responsive {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
}

.lock-icon-responsive{
  margin-right: 20px;
  height: 110px;
}

.bank-account-header-responsives {
  display: flex;
  align-items: flex-end;
}

}
