/* 1) Mobile Phones (Portrait): */
/* Screen width: up to 480px */
/* Common media query: */

@media screen and (max-width: 480px) {
  /* Styles for mobile phones in portrait mode */

  /* //////////////// index overview page start /////////////// */
  .bg-img-mainn {
    width: 490px;
  }
  .responsive-img-scroll {
    overflow-x: scroll;
  }
  .responsive-reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .responsive-finish-column {
    margin-top: 17px;
  }

  .nav-index-responsive {
    width: max-content;
  }

  .tab-menu-heading{
    display: flex !important;
    flex-direction: column;
  }

  #search_input{
    width: 150px;
}
  /* //////////////// index overview page End //////////////// */
}
/* //////////////////////////////////////////////// */

/* 2) Mobile Phones (Landscape): */
/* Screen width: 481px to 767px (typical range) */
/* Common media query: */

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile phones in landscape mode */
  .responsive-finish-column {
    margin-top: 17px;
  }
  .responsive-reset-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  #search_input{
    width: 150px;
}
}
/* //////////////////////////////////////////////// */

/* 3) Tablets (Portrait): */
/* Screen width: 768px to 1023px (typical range) */
/* Common media query: */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablets in portrait mode */
  .responsive-finish-column {
    margin-top: 17px;
  }
}
/* /////////////////////////////////////////////// */

/* 4) Tablets (Landscape): */
/* Screen width: 1024px to 1279px (typical range) */
/* Common media query: */

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Styles for tablets in landscape mode */
}
/* /////////////////////////////////////////////// */

/* 5) iPad (Portrait and Landscape):
iPad screen sizes can fall into both the tablet and laptop categories.
You can target iPads with a combination of the above media queries or use more specific ones if needed.
6) Laptops and Desktops:
Screen width: 1280px and above (typical range for laptops and desktops)
Common media query: */

@media screen and (min-width: 1280px) and (max-width: 2279px) {
  /* Styles for laptops and desktops */
}
